[submodule "demo/external/JNWLabel"]
	path = demo/external/JNWLabel
	url = https://github.com/jwilling/JNWLabel.git
[submodule "external/Expecta"]
	path = external/Expecta
	url = https://github.com/petejkim/expecta.git
[submodule "external/Specta"]
	path = external/Specta
	url = https://github.com/petejkim/specta.git
[submodule "external/BTRScrollView"]
	path = external/BTRScrollView
	url = https://github.com/ButterKit/BTRScrollView.git
